@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Pangolin&display=swap');
/* 
font-family: 'Caveat', cursive;
font-family: 'Pangolin', cursive; 
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-size: 100%;
    background: linear-gradient(68.15deg, #2f2325 16.62%, #8e5d52);
}

.cabecalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 24px;
}
.img-cabecalho {
    height: 75px;
}
.menu-cabecalho{
    display: flex;
    gap: 32px;
}
.menu-item {
    font-family: 'Pangolin', cursive;
    color: #fff2e7;
    font-weight: 400;
    font-size: 18px;
}